# Mac
.DS_Store

# Node
npm-debug.log
/node_modules

# Cordova
/platforms
/plugins

# res
resources/signing
jsconfig.json
.vscode/
typings/


/.idea/misc.xml
/.idea/modules.xml
/.idea/phonegap-app-developer.iml
/.idea/vcs.xml
/.idea/workspace.xml
